<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Παραγγελίες</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">

            <div class="navbar-collapse" [class.collapse]="collapsed">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active"><a routerLink="/storage" *ngIf="isAuthenticated">Αποθήκη</a></li>
                    <li routerLinkActive="active"><a routerLink="/auth" *ngIf="!isAuthenticated">Σύνδεση</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="isAuthenticated">
                        <a style="cursor: pointer" (click)="onLogout()">Αποσύνδεση</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
