<nav class="navbar navbar-default" (mouseleave)="collapsed = true">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a (click)="collapsed=true" routerLink="/" class="navbar-brand">{{applicationTitle}}</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">

                <li routerLinkActive="active">
                    <a (click)="collapsed=true" routerLink="/storage" *ngIf="isAuthenticated">
                        <fa-icon [icon]="faWarehouse"></fa-icon>
                        Αποθήκη
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a (click)="collapsed=true" routerLink="/order" *ngIf="isAuthenticated">
                        <fa-icon [icon]="faCashRegister"></fa-icon>
                        Παραγγελίες
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a (click)="collapsed=true" routerLink="/auth" *ngIf="!isAuthenticated">
                        <fa-icon [icon]="faSignInAlt"></fa-icon>
                        {{ 'auth.login' | translate }}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-center">
                <li>
                    <div class="form-group">
                        <select class="form-control" #langSelect (change)="translate.use(langSelect.value)">
                            <option class="form-control" *ngFor="let lang of translate.getLangs()" [value]="lang"
                                    [selected]="lang === translate.currentLang">{{ lang }}
                            </option>
                        </select>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a style="cursor: pointer" (click)="onLogout()">
                        <fa-icon [icon]="faSignOutAlt"></fa-icon>
                        Αποσύνδεση
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
