<div class="row">
    <div class="col-xs-12 btn-toolbar">

        <div class="col-xs-6">
            <button class="btn btn-primary" (click)="onNewOrder()">
                <fa-icon [icon]="faPlus"></fa-icon>
                {{ 'order.newOrder' | translate }}
            </button>
        </div>


        <div class="col-xs-6">
            <button class="btn btn-success pull-right" *ngIf="pipeStatus" (click)="onChangeStatus()">
                <fa-icon [icon]="faCheck"></fa-icon>
                {{ 'order.active' | translate }}
            </button>
            <button class="btn btn-danger pull-right" *ngIf="!pipeStatus" (click)="onChangeStatus()">
                <fa-icon [icon]="faMinus"></fa-icon>
                {{ 'order.inactive' | translate }}
            </button>
        </div>

    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-order-item
                *ngFor="let orderEl of orders | filterStatus:pipeStatus; let i = index"
                [order]="orderEl"
                [index]="orderEl.id">
        </app-order-item>
    </div>
</div>
