<br>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

            <div class="row form-group">
                <div class="col-xs-12">
                    <div class="btn-toolbar">
                        <div class="col-xs-6">
                            <button class="btn btn-success" type="submit" [disabled]="!orderForm.valid">
                                <fa-icon [icon]="faSave"></fa-icon>
                                Αποθήκευση
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-danger pull-right" type="button" (click)="onCancel()">
                                <fa-icon [icon]="faWindowClose"></fa-icon>
                                Ακύρωση
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" formArrayName="customer">
                <div class="col-xs-6">
                    <label for="fullName">Όνομα</label>
                    <input type="text" id="fullName" class="form-control" formControlName="fullName">
                </div>
                <div class="col-xs-6">
                    <label for="mobile">Τηλέφωνο</label>
                    <input type="text" id="mobile" class="form-control" formControlName="mobile">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" formArrayName="orderStorageCalculators">
                    <div class="row" *ngFor="let orderStorageCalculator of orderStorageCalculators; let i = index"
                         [formGroupName]="i" style="margin-top: 10px">

                        <div class="col-md-5 col-xs-8">
                            <label for="storage">Προΐόν</label>
                            <select (change)="onChange(i)" class="form-control" id="storage" formControlName="storage">
                                <option *ngFor="let types of storageApi; let i = index" [ngValue]=types>
                                    {{ types.title }}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-2 col-xs-2">
                            <br>
                            <button class="btn btn-danger" type="button"
                                    (click)="onDeleteOrderStorageCalculators(i)"
                                    style="margin-top: 5px;">
                                <fa-icon [icon]="faWindowClose"></fa-icon>
                            </button>
                        </div>

                        <div class="col-md-2 col-xs-6">
                            <label for="pieces">Τεμάχια</label>
                            <input type="number" min="0" id="pieces" class="form-control"
                                   (change)="onChangePieces(i)"
                                   formControlName="pieces">
                        </div>

                        <div *ngIf="currentStorageTypes[i] && currentStorageTypes[i].title === storagePetTypeValue">
                            <div class="col-xs-6" formArrayName="storagePetType">
                                <div class="row"
                                     *ngFor="let orderStorageCalculator of orderStorageCalculator.get('storagePetType').value; let l = index"
                                     [formGroupName]="l">
                                    <div class="col-xs-6">
                                        <label for="male">Αρσενικό</label>
                                        <input (change)="onChangeStoragePetType(i)" type="number" min="0"
                                               id="male"
                                               class="form-control"
                                               formControlName="male">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="female">Θηλυκό</label>
                                        <input (change)="onChangeStoragePetType(i)" type="number" id="female"
                                               class="form-control" min="0"
                                               formControlName="female">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-xs-6">
                            <label for="finalPrice">Τιμή</label>
                            <input type="number" min="0" id="finalPrice" class="form-control"
                                   formControlName="finalPrice">
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <br>
                            <button class="btn btn-primary" type="button" (click)="onHiddenPrice(i)"
                                    style="margin-top: 5px;">
                                <fa-icon [icon]="faListUl"></fa-icon>
                            </button>
                        </div>

                        <div formArrayName="price"
                             [hidden]="orderStorageCalculator.get('price').get('hiddenPrice').value">
                            <input type="hidden" id="hiddenPrice" class="form-control" formControlName="hiddenPrice">
                            <div class="col-xs-6">
                                <label for="total">Σύνολο</label>
                                <input type="number" id="total" class="form-control" formControlName="total">
                            </div>
                            <div class="col-xs-6">
                                <label for="initial">Αρχική</label>
                                <input type="number" id="initial" class="form-control" (change)="onChangePrice(i)"
                                       formControlName="initial">
                            </div>
                            <div class="col-xs-6">
                                <label for="profit">Κέρδος</label>
                                <input type="number" id="profit" class="form-control" (change)="onChangePrice(i)"
                                       formControlName="profit">
                            </div>
                            <div class="col-xs-6">
                                <label for="shipping">Μεταφορικά</label>
                                <input type="number" id="shipping" class="form-control" (change)="onChangePrice(i)"
                                       formControlName="shipping">
                            </div>
                        </div>


                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary" type="button" (click)="onAddOrderStorageCalculators()">
                                Προσθήκη προϊόντος
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Σχόλια</label>
                        <textarea name="description" id="description" class="form-control" rows="4"
                                  formControlName="description"></textarea>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
