<br>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

            <div class="row form-group">
                <div class="col-xs-12">
                    <div class="btn-toolbar">
                        <button class="btn btn-success" type="submit" [disabled]="!orderForm.valid">
                            <fa-icon [icon]="faSave"></fa-icon>
                            Αποθήκευση
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onCancel()">
                            <fa-icon [icon]="faWindowClose"></fa-icon>
                            Ακύρωση
                        </button>
                    </div>
                </div>
            </div>

            <div class="row" formArrayName="customer">
                <div class="col-xs-6">
                    <label for="fullName">Όνομα</label>
                    <input type="text" id="fullName" class="form-control" formControlName="fullName">
                </div>
                <div class="col-xs-6">
                    <label for="mobile">Τηλέφωνο</label>
                    <input type="text" id="mobile" class="form-control" formControlName="mobile">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" formArrayName="orderStorageCalculators">
                    <div class="row" *ngFor="let orderStorageCalculator of orderStorageCalculators; let i = index"
                         [formGroupName]="i" style="margin-top: 10px" (change)="onChange(i)">
                        <div class="col-xs-8 col-md-7">
                            <label for="storage">Προΐόν</label>
                            <select class="form-control" id="storage" formControlName="storage">
                                <option *ngFor="let types of storageApi; let i = index" [ngValue]=types>
                                    {{ types.title }}
                                </option>
                            </select>
                        </div>

                        <div class="col-xs-2">
                            <label for="pieces">Τεμάχια</label>
                            <input type="number" id="pieces" class="form-control" formControlName="pieces">
                        </div>

                        <div class="col-xs-2">
                            <br>
                            <button class="btn btn-danger" type="button" (click)="onDeleteOrderStorageCalculators(i)"
                                    style="margin-top: 5px;">x
                            </button>
                        </div>

                        <div *ngIf="currentStorageTypes[i] && currentStorageTypes[i].title === storagePetTypeValue">
                            <div class="col-xs-12" formArrayName="storagePetType" (change)="onChange(i)">
                                <div class="row"
                                     *ngFor="let orderStorageCalculator of orderStorageCalculator.get('storagePetType').value; let i = index"
                                     [formGroupName]="i">
                                    <div class="col-xs-2">
                                        <label for="male">Αρσενικό</label>
                                        <input type="number" id="male" class="form-control" formControlName="male">
                                    </div>
                                    <div class="col-xs-2">
                                        <label for="female">Θηλυκό</label>
                                        <input type="number" id="female" class="form-control"
                                               formControlName="female">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary" type="button" (click)="onAddOrderStorageCalculators()">
                                Προσθήκη προϊόντος
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Σχόλια</label>
                        <textarea name="description" id="description" class="form-control" rows="4"
                                  formControlName="description"></textarea>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
