<br>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

            <div class="row form-group">
                <div class="col-xs-12">
                    <div class="btn-toolbar">
                        <button class="btn btn-success" type="submit" [disabled]="!orderForm.valid">
                            <fa-icon [icon]="faSave"></fa-icon>
                            Αποθήκευση
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onCancel()">
                            <fa-icon [icon]="faWindowClose"></fa-icon>
                            Ακύρωση
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" formArrayName="orderStorageCalculators">
                    <div class="row" *ngFor="let orderStorageCalculator of orderStorageCalculators; let i = index"
                         [formGroupName]="i" style="margin-top: 10px" (change)="onChange(i)">
                        <div class="col-xs-8 col-md-7">
                            <label for="storage">Προΐόν</label>
                            <select class="form-control" id="storage" formControlName="storage">
                                <option *ngFor="let types of storageApi; let i = index" [ngValue]=types>
                                    {{ types.title }}
                                </option>
                            </select>
                        </div>

                        <div class="col-xs-2">
                            <label for="pieces">Τεμάχια</label>
                            <input type="number" id="pieces" class="form-control" formControlName="pieces">
                        </div>

                        <div *ngIf="currentStorageTypes[i].title === storagePetTypeValue"></div>

                        <div class="col-xs-2">
                            <br>
                            <button class="btn btn-danger" type="button" (click)="onDeleteOrderStorageCalculators(i)"
                                    style="margin-top: 5px;">x
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success" type="button" (click)="onAddOrderStorageCalculators()">
                                Προσθήκη προϊόντος
                            </button>
                        </div>
                    </div>

                </div>
            </div>


        </form>
    </div>
</div>
