<div class="row">
    <div class="col-xs-12 btn-toolbar">
        <button class="btn btn-primary" (click)="onNewStore()">
            <fa-icon [icon]="faPlus"></fa-icon>
            Νέα Αποθήκη
        </button>

        <button class="btn btn-success" *ngIf="pipeStatus" (click)="onChangeStatus()">
            <fa-icon [icon]="faCheck"></fa-icon>
            Ενεργές
        </button>
        <button class="btn btn-danger" *ngIf="!pipeStatus" (click)="onChangeStatus()">
            <fa-icon [icon]="faMinus"></fa-icon>
            Απενεργοποιημένες
        </button>

    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-storage-item
                *ngFor="let storeEl of storages | filterStatus:pipeStatus; let i = index"
                [storage]="storeEl"
                [index]="storeEl.id">
        </app-storage-item>
    </div>
</div>
