<div class="row">
    <div class="col-xs-12 btn-toolbar">
        <button class="btn btn-success" (click)="onNewStore()">Νέα Αποθήκη</button>
        <button class="btn btn-primary" (click)="onChangeStatus()">Δές {{pipeStatus ? 'Ανενεργές' : 'Ενεργές'}}</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-storage-item
                *ngFor="let storeEl of storages | filterStatus:pipeStatus; let i = index"
                [storage]="storeEl"
                [index]="i">
        </app-storage-item>
    </div>
</div>
