<div *ngIf="storage">

    <div class="row">
        <div class="col-xs-12">
            <h1>{{storage.title}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 btn-toolbar">

            <div class="btn-toolbar">
                <button class="btn btn-primary" (click)="onEditStorage()">
                    <fa-icon [icon]="faEdit"></fa-icon>
                    Επεξεργασία
                </button>
                <button class="btn btn-danger" (click)="onDisableStorage()">
                    <fa-icon [icon]="faTrash"></fa-icon>
                    Διαγραφή
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3> {{storage.createdAt}} </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3> {{storage.status}} </h3>
        </div>
    </div>

    <!-- <div class="row">
         <div class="col-xs-12">
             <ul class="list-group">
                 <li class="list-group-item" *ngFor="let ingredient of storage.ingredients">
                     {{ingredient.name}} - {{ingredient.amount}}
                 </li>
             </ul>
         </div>
     </div>-->

</div>
