<div *ngIf="order">

    <div class="row">
        <div class="col-xs-12">
            <h1>{{order.customer.fullName}} - {{order.orderPrice}}
                <fa-icon [icon]="faEuroSign"></fa-icon>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 btn-toolbar">

            <div class="btn-toolbar">
                <div class="col-xs-6">
                    <button class="btn btn-primary" (click)="onEditOrder()">
                        <fa-icon [icon]="faEdit"></fa-icon>
                        Επεξεργασία
                    </button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-danger pull-right" *ngIf="disabled" (click)="onDisableOrder()">
                        <fa-icon [icon]="faTrash"></fa-icon>
                        Απενεργοποίηση
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <h3><label>Όνομα</label> {{order.customer.fullName}}</h3>
            </div>
            <div class="col-xs-6">
                <h3><label>Τηλέφωνο</label><a href="tel: {{order.customer.mobile}}"> {{order.customer.mobile}}</a></h3>
            </div>
        </div>
    </div>

    <div class="row" *ngFor="let orderStorageCalculator of order.orderStorageCalculators">
        <div class="col-xs-12">
            <h3>
                {{orderStorageCalculator.storage.title}}
                <fa-icon [icon]="faEllipsisV"></fa-icon>
                <ng-container *ngIf="orderStorageCalculator.storage.storageTypes.title !== storagePetTypeValue">
                    {{orderStorageCalculator.pieces}}
                    <fa-icon [icon]="faBoxes"></fa-icon>&nbsp;
                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                </ng-container>

                <ng-container *ngIf="orderStorageCalculator.storage.storageTypes.title === storagePetTypeValue">
                    {{orderStorageCalculator.pieces}}
                    <fa-icon [icon]="faPaw"></fa-icon>
                    (

                    <ng-container *ngIf="orderStorageCalculator.storagePetType[0].male">
                        {{orderStorageCalculator.storagePetType[0].male}}
                        <fa-icon [icon]="faMars"></fa-icon>
                    </ng-container>

                    <ng-container *ngIf="
                    orderStorageCalculator.storagePetType[0].male && orderStorageCalculator.storagePetType[0].female">
                        &
                    </ng-container>

                    <ng-container *ngIf="orderStorageCalculator.storagePetType[0].female">
                        {{orderStorageCalculator.storagePetType[0].female}}
                        <fa-icon [icon]="faVenus"></fa-icon>
                    </ng-container>
                    )

                    {{orderStorageCalculator.storagePetType[0].booklet}}

                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                </ng-container>

                {{orderStorageCalculator.finalPrice}}
                <fa-icon [icon]="faEuroSign"></fa-icon>
            </h3>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <h3><label>Σύνολο</label> {{order.orderPrice}}
                <fa-icon [icon]="faEuroSign"></fa-icon>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>
                <label>Περιγραφή</label>
                {{order.description}}
            </h3>
        </div>
    </div>

</div>
