<br>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="storageForm" (ngSubmit)="onSubmit()">

            <div class="row form-group">
                <div class="col-xs-12">
                    <div class="btn-toolbar">
                        <div class="col-xs-6">
                            <button class="btn btn-success" type="submit" [disabled]="!storageForm.valid">
                                <fa-icon [icon]="faSave"></fa-icon>
                                {{ 'order.save' | translate }}
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-danger pull-right" type="button" (click)="onCancel()">
                                <fa-icon [icon]="faWindowClose"></fa-icon>
                                {{ 'order.cancel' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">{{ 'storage.title' | translate }}</label>
                        <input type="text" id="title" class="form-control" formControlName="title">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-6 col-xs-12">
                        <div class="row" formArrayName="price">
                            <div class="col-xs-4">
                                <label for="total">{{ 'order.sum' | translate }}</label>
                                <input type="number" id="total" class="form-control" formControlName="total">
                            </div>
                            <div class="col-xs-4">
                                <label for="initial">{{ 'order.initial' | translate }}</label>
                                <input (change)="onChangePrice()" type="number" id="initial" class="form-control"
                                       formControlName="initial">
                            </div>
                            <div class="col-xs-4">
                                <label for="profit">{{ 'order.profit' | translate }}</label>
                                <input (change)="onChangePrice()" type="number" id="profit" class="form-control"
                                       formControlName="profit">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="form-group">
                            <label for="pieces">{{ 'order.pieces' | translate }}</label>
                            <input type="number" id="pieces" class="form-control" min="0" formControlName="pieces">
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="form-group">
                            <label for="storageTypes">{{ 'storage.type' | translate }}</label>
                            <select class="form-control" id="storageTypes" formControlName="storageTypes">
                                <option *ngFor="let types of storageTypesApi" [ngValue]="types">
                                    {{ typeText(types.title) | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">{{ 'order.description' | translate }}</label>
                        <textarea name="description" id="description" class="form-control" rows="4"
                                  formControlName="description"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="button" (click)="onAddStorageLink()">
                        {{ 'storage.addStorageLink' | translate }}
                    </button>
                </div>
            </div>

            <div *ngIf="getStorageLinks" formArrayName="storageLinks">
                <div class="row" *ngFor="let storageLinks of getStorageLinks; let i = index" [formGroupName]="i"
                     style="margin-top: 10px">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <label for="url{{i}}">{{ 'storage.link' | translate }}</label>
                                    <input type="text" class="form-control" id="url{{i}}" formControlName="url">
                                </div>
                                <div class="col-xs-6">
                                    <br>
                                    <button class="btn btn-danger" type="button"
                                            (click)="onDeleteStorageLink(i)"
                                            style="margin-top: 5px;">
                                        <fa-icon [icon]="faWindowClose"></fa-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="currentType && currentType.title === storagePetTypeValue">
                <div class="col-xs-12" formArrayName="storagePetTypes">
                    <div class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i"
                         style="margin-top: 10px">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <label for="microchip">{{ 'storage.microchip' | translate }}</label>
                                    <input type="text" class="form-control" id="microchip" formControlName="microchip">
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="booklet">{{ 'storage.booklet' | translate }}</label>
                                        <select formControlName="booklet" id="booklet" class="form-control">
                                            <option *ngFor="let state of bookletStates" [ngValue]="state.value"
                                                    [selected]="state.value === null">{{ state.text | translate }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="male">{{ 'order.male' | translate }}</label>
                                        <input type="number" id="male" min="0" class="form-control"
                                               formControlName="male">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="female">{{ 'order.female' | translate }}</label>
                                        <input type="number" id="female" min="0" class="form-control"
                                               formControlName="female">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <angular-file-uploader
                                [config]="afuConfig"
                                [resetUpload]=resetVar
                                (ApiResponse)="imageUpload($event)">
                        </angular-file-uploader>
                    </div>
                </div>
            </div>

            <div *ngIf="getStorageImages">
                <div class="row" *ngFor="let image of getStorageImages">
                    <div class="col-xs-12">
                        <img [src]="imageRenderingPath+image.filePath" class="img-responsive">
                        <button class="btn btn-danger pull-right" type="button" (click)="onDeleteImage(image)">
                            <fa-icon [icon]="faWindowClose"></fa-icon>
                            {{ 'storage.delete' | translate }}
                        </button>
                        <button class="btn btn-primary pull-left" type="button" (click)="onDownload(image)">
                            <fa-icon [icon]="faDownload"></fa-icon>
                            {{ 'storage.download' | translate }}
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
