<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="storageForm" (ngSubmit)="onSubmit()">

            <div class="row form-group">
                <div class="col-xs-12">
                    <div class="btn-toolbar">
                        <button class="btn btn-success" type="submit" [disabled]="!storageForm.valid">
                            <fa-icon [icon]="faSave"></fa-icon>
                            Αποθήκευση
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onCancel()">
                            <fa-icon [icon]="faWindowClose"></fa-icon>
                            Ακύρωση
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Τίτλος</label>
                        <input type="text" id="title" class="form-control" formControlName="title">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="price">Ποσό</label>
                            <input type="number" id="price" class="form-control" formControlName="price">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="pieces">Τεμάχια</label>
                            <input type="number" id="pieces" class="form-control" formControlName="pieces">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="storageType">Είδος</label>
                            <select class="form-control" id="storageType" formControlName="storageType">
                                <option *ngFor="let types of storageTypes" [ngValue]="types">
                                    {{ types.title }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Περιγραφή</label>
                        <textarea name="description" id="description" class="form-control" rows="6"
                                  formControlName="description"></textarea>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
