<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="storageForm" (ngSubmit)="onSubmit()">

            <div class="row form-group">
                <div class="col-xs-12">
                    <div class="btn-toolbar">
                        <button class="btn btn-success" type="submit" [disabled]="!storageForm.valid">Αποθήκευση
                        </button>
                        <button class="btn btn-danger" type="button" (click)="onCancel()">Ακύρωση</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Τίτλος</label>
                        <input type="text" id="title" class="form-control" formControlName="title">
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
